%header
  = link_to "MIURA KITCHEN", root_path,class: "up_name"
  .up_sab アカウント作成
.up_main
  = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |form|
    = render "devise/shared/error_messages", resource: resource
    = devise_error_messages!
    .field
      = form.label "プロフィール画像"
      %br/
      = form.file_field :image
    .preview2
    .field
      = form.label "ニックネーム"
      %br/
      = form.text_field :nickname, autofocus: true, maxlength: "6"
    .field
      = form.label "メールアドレス"
      %br/
      = form.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = form.label "パスワード"
      %br/
      = form.password_field :password, autocomplete: "new-password"
    .field
      = form.label "確認用パスワード"
      %br/
      = form.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = form.label "ひとこと"
      %br/
      = form.text_area :text, class:"new-text"


    .actions
      = form.submit "次に進む" ,class:"btn"
.up_footer
  すでにアカウントをお持ちですか？
  = render "devise/shared/links"
