.contents
  = form_for @post do |form|
    .container
      .name-list
        = form.text_field :name, class: "name-list1", placeholder: "例: ホクホク肉じゃが"
      .field
        = form.file_field :image, class: "name-list1", placeholder: "写真"
      .preview2
      .text2-list
      #menus
        %h2 材料
        = form.fields_for :menus do |menu|
          = render 'menu_fields', form: menu
        .links
          -# = link_to_add_association "メニューを追加", form, :menu
      .text2-list
      #recipes
        %h2 作り方
        = form.fields_for :recipes do |recipe|
          = render 'recipe_fields', form: recipe
        .links
          -# = link_to_add_association "レシピを追加", form, :recipe
      .text2-list
        .image_box_main
          .preview
      = form.submit "SEND", class: "name-list2"