= render partial: "header"
.contents
  = nested_form_for(@post) do |form|
    .container
      .name-lists
        .name-title
          %h2 料理タイトル
        = form.text_field :name, class: "name-list", placeholder: "例: ホクホク肉じゃが"
      .container-main
        .container-box
          .field3
            .name-image
              %h2 料理画像
            = form.file_field :image, class: "name-list-image"
            .preview3
        .container-box2
          .text-list1
            .menu-name 
              %h2 材料
              %h2 分量
            = form.fields_for :menus , class: "recipe-btn" do |form|
              = form.text_field :menu, placeholder: "例: 豚肉", class:"menu"
              = form.text_field :amount, placeholder: "例: 350g", class:"amount"
              = form.link_to_remove "削除", class:"dleate1"
            .menu-list
              = form.link_to_add "追加", :menus, class:"add"
      .container-box3
        .recipe-name
          %h2 作り方
        .text-list2
          .preview
          .recipe-lists2
            = form.fields_for :recipes do |form|
              = form.text_area :recipe, placeholder: "作り方", class:"recipe"
              = form.file_field :image_url 
              = form.link_to_remove "削除", class:"dleate2"
          .recipe-list
            = form.link_to_add "追加", :recipes, class:"add"

    .container-box4
      = form.submit "更新する", class: "recipe-btn"
  %footer
    .footer2
      =link_to "MIURA KITCHEN", root_path, class:"footer2_title" 

