<div class="contents row">
  <%= form_for @post do |form| %>
  <div class="container">
    <div class= name-list>
      <%= form.text_field :name, class: "name-list1", placeholder: "例: ホクホク肉じゃが" %>
    </div>
    <div class= image-list>
      <%= form.text_field :image, class: "name-list1", placeholder: "写真" %>
    </div>
    <div class= text-list>
      <%= form.text_area :text, placeholder: "材料" , rows: "10" %>
    </div>
    <div class= text2-list>
      <%= form.text_area :text2, placeholder: "作り方" , rows: "10" %>
    </div>
    <%= form.submit "SEND", class: "name-list2"%>
    <%# <%= link_to new_recipe_path do%>
      <%# <P>作り方</p>
    <% end %>
    <%# <%= link_to new_menu_path do%>
      <%# <P>材料</p>
    <% end %> 
  <% end %>
  </div>
</div>