-# %h1 jQuery
-# %div
-#   %ul#tab.tab
-#     %li{"data-id" => "1", :tabindex => "0"} menu1
-#     %li{"data-id" => "2", :tabindex => "0"} menu2
-#     %li{"data-id" => "3", :tabindex => "0"} menu3
-#   #content.content
-#     %section{"data-id" => "1"}
-#       %p content1
-#     %section{"data-id" => "2"}
-#       %p content2
-#     %section{"data-id" => "3"}
-#       %p content3



.contents.row
  = form_for @post do |form|
    .container
      .name-list
        = form.text_field :name, class: "name-list1", placeholder: "例: ホクホク肉じゃが"
      .image-list
        = form.file_field :image, class: "name-list1", placeholder: "写真"
      .text-list
        = form.text_area :text, placeholder: "材料" , rows: "10"
      .text2-list
        = form.text_area :text2, placeholder: "作り方" , rows: "10"
      = form.submit "SEND", class: "name-list2"
