= render partial: "header"
.contents
  .side
    .container
    - if current_user
      = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメントする" , rows: "2", class: "textbox"
        = form.submit "SEND", class: "form__submit"
    - else
      %strong
        %p コメントの投稿には新規登録/ログインが必要です
    .comments
      .comment ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}", class:"comments_name"
            .comments_text
              = comment.text
  .recipe-main
    .recipe-main-box
      =image_tag "#{@post.image}",size: '460x460',class:'recipe-main-box__image'
      .recipe-main-box-content
        .recipe-main__title
          %span.name
            = @post.name
          .more
            %ul.more_lists
              - if user_signed_in? && current_user.id == @post.user_id
                %li
                  = link_to '編集', "/posts/#{@post.id}/edit",class:"edit", method: :get
                %li
                  = link_to '削除', "/posts/#{@post.id}",class:"delete", method: :delete
          - if user_signed_in?
            - if current_user.already_liked?(@post)
              = button_to post_like_path(@post),class:"love-btn", method: :delete do
                お気に入りにする
                %i.far.fa-heart
                  #{@post.likes.count}
            - else
              = button_to post_likes_path(@post),class:"love-btn", remote: true do
                お気に入りにする
                %i.far.fa-heart
                  #{@post.likes.count}
            -# いいねしたユーザー
            -# - @post.liked_users.each do |user|
            -#   = user.nickname
        .recipe-main-box-name
          %p.recipe 料理レシピ
          %p.zairyou 材料
        .recipe-main-box-text
          -@post.menus.where("menu is not NULL").each_with_index do |menu|
            .menu-name
              .menu-text1
                = menu.menu
              .menu-text2
                = menu.amount
    .step-main
      %span.box-title 作り方
      .box-lists
        -@post.recipes.where("recipe is not NULL").each.with_index(1) do |recipe,i|
          .box-list
            .box-list-numder
              = i
            = image_tag "#{recipe.image_url}", size: '225x250',id: "image-#{i}",class:'box-list-image'
            .box-list-text
              = recipe.recipe

