<div class ="contents">
  <div class="left-content">
    <div class="recipe-main">
      <div class="recipe-main__title">
        <span class="name">
          <%= @post.name %>
        </span>
      </div>
      <div class="recipe-main-box">
        <div class="recipe-main-box__image" style="background-image: url(<%= @post.image %>);">
        </div>
        <div class="recipe-main-box-content">
          <div class="recipe-main-box-content__name">
          <p>材料</p>
          </div>
          <div class="recipe-main-box-content__text">
          <%= simple_format(@post.text) %>
          </div>
      </div>
    </div>
    <div class="step-main">
      <div class="box26">
        <span class="box-title">作り方</span>
        <%= simple_format(@post.text2) %>
      </div>
    </div>
    <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |form| %> 
        <%= form.text_area :text, placeholder: "コメントする" , rows: "2", class: "textbox" %>
        <%= form.submit "SEND", class: "form__submit" %>
      <% end %>
    <% else %>
      <strong><p> コメントの投稿には新規登録/ログインが必要です </p></strong>
    <% end %>
    </div>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
    </div>
  </div>
  </div>
  <div class= "rigth-content">
    <div class="name-box">
      <%= @post.user.nickname %><span>さんの投稿</span>
    </div>
    <div class="more">
      <ul class="more_lists">
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <li>
            <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

