.contents
  .left-content
    .recipe-main
      .recipe-main__title
        %span.name
          = @post.name
        - if current_user.already_liked?(@post)
          = button_to post_like_path(@post),class:"love-btn", method: :delete do
            お気に入りにする
            %i.far.fa-heart
              #{@post.likes.count}
        - else
          = button_to post_likes_path(@post),class:"love-btn", remote: true do
            お気に入りにする
            %i.far.fa-heart
              #{@post.likes.count}
        -# いいねしたユーザー
        -# - @post.liked_users.each do |user|
        -#   = user.nickname
      .recipe-main-box
        .recipe-main-box__image{:style => "background-image: url(#{@post.image});"}
        .recipe-main-box-content
          .recipe-main-box-content__name
            %p 材料
          .recipe-main-box-content__text
            = simple_format(@post.text)
      .step-main
        .box26
          %span.box-title 作り方
          = simple_format(@post.text2)
      .container
        - if current_user
          = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
            = form.text_area :text, placeholder: "コメントする" , rows: "2", class: "textbox"
            = form.submit "SEND", class: "form__submit"
        - else
          %strong
            %p コメントの投稿には新規登録/ログインが必要です
      .comments
        %h4 ＜コメント一覧＞
        - if @comments
          - @comments.each do |comment|
            %p
              %strong
                = link_to comment.user.nickname, "/users/#{comment.user_id}"
                ：
              = comment.text
  .rigth-content
    .name-box
      = @post.user.nickname
      %span さんの投稿
    .more
      %ul.more_lists
        - if user_signed_in? && current_user.id == @post.user_id
          %li
            = link_to '編集', "/posts/#{@post.id}/edit", method: :get
          %li
            = link_to '削除', "/posts/#{@post.id}", method: :delete
